* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

/* messagepage styling */
body.bodyBerichten {
  background: url("https://images4.alphacoders.com/720/thumb-1920-720499.jpg");
  display: grid;
  grid-template-rows: 10% 1fr 20%;
  height: 100vh;
}

/* navbar styling */
.topnav {
  background: rgba(110, 44, 126, 0.604);
  grid-row: 1 / span 1;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  border-radius: 10px;
  width: 100%;
}

.topnav a {
  text-decoration: none;
  color: white;
  font-size: 20px;
  margin-left: 25px;
}

.topnav .messagetitle {
  margin-left: auto;
  margin-right: 25px;
}

.topnav a:hover {
  background: rgb(102, 23, 122);
}
/* message title  styling */
.titlecontainer {
  grid-row: 2 / span 1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.titlecontainer h1 {
  color: white;
}
/* message container styling */
.berichten {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  margin-top: 50px;
  height: 90%;
  width: 55%;
  align-items: center;
  grid-row: 2 / span 1;
  background-color: rgba(0, 0, 0, 0.734);
  border-radius: 20px;
}

.nummerBericht {
  font-size: x-large;
  margin-left: 10px;
  margin-top: 10px;
  cursor: pointer;
  color: white;
}

.nummerBericht:hover {
  color: rgba(255, 255, 255, 0.349);
}

hr {
  height: 1px;
  background-color: black;
  border: none;
}

/* page buttons*/
.pagebuttons {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  grid-row: 3 / span 1;
}
.vorigePagina .ibutton {
  cursor: pointer;
}
.volgendePagina .ibutton {
  cursor: pointer;
}


/* styling index/homapage*/

.split-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  width: 100%;
  height: 100vh;
  display: flex;
}

.box1 {
  background-image: url("https://cdn.wallpapersafari.com/37/88/J4zjBf.jpg");
  width: 50%;
  height: 100vh;
  flex: 1;
}

.box2 {
  background-color: hsl(236, 45%, 42%);
  width: 50%;
  height: 100vh;
  flex: 1;
}

.box2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.button_box {
  display: flex;
  flex-direction: column;
}

.ibutton {
  border: 1px solid white;
  background-image: linear-gradient(
    to right,
    #6253e1,
    #852d91,
    #a3a1ff,
    #f24645
  );
  box-shadow: 0 4px 15px 0 rgba(126, 52, 161, 0.75);
  width: 200px;
  font-size: 16px;
  font-weight: 600;
  color: #fff;
  cursor: pointer;
  margin: 20px;
  height: 55px;
  text-align: center;
  background-size: 300% 100%;
  border-radius: 50px;
  transition: all 0.4s ease-in-out;
}

.ibutton:hover {
  background-image: linear-gradient(to right, #852d91, #a3a1ff);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

@media (max-width: 500px) {
  .split-container {
    flex-direction: column;
  }
  .box1,
  .box2 {
    width: 100%;
  }
}

/* styling registration and login*/
.signuppage {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
}

.split-screen {
  display: flex;
}

.left {
  background-image: url("https://cdn.wallpapersafari.com/37/88/J4zjBf.jpg");
}
.left,
.right {
  width: 50%;
  height: 100vh;
}

.left {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}
.i.far .fa-eye {
  cursor: pointer;
}
.right {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: hsl(236, 45%, 42%);
  color: hsl(268, 47%, 85%);
}
.registerform {
  background-color: hsl(236, 45%, 42%);
}

.right h1 {
  margin-bottom: 50px;
  text-align: center;
}
.registerform input[type="text"],
.registerform input[type="email"],
.registerform input[type="password"],
.registerform input[type="number"] {
  display: block;
  box-sizing: border-box;
  margin-top: 5px;
  margin-bottom: 5px;
  border-radius: 15px;
  width: 100%;
  padding: 10px;
  border: 1px solid hsl(236, 45%, 42%);
}

.signinbtn {
  width: 100%;
  margin-top: 15px;
  border-radius: 25px;
  padding: 6px;
  cursor: pointer;
  background-image: linear-gradient(to right, #001a5c, #262e86, #ac73d6);

  border: 1px solid white;
  color: white;
  height: 40px;
}

.signinbtn:hover {
  background-image: linear-gradient(to right, #852d91, #a3a1ff);
  box-shadow: 0 4px 15px 0 rgba(45, 54, 65, 0.75);
}

.legal {
  margin-top: 20px;
}

@media (max-width: 500px) {
  .split-screen {
    flex-direction: column;
  }
  .left,
  .right {
    width: 100%;
    height: 100%;
    min-height: 50vh;
  }
  .registerform {
    max-width: 50%;
    height: 100%;
  }
}
